**/build/
**/build-sim/
*.b#*
*.bin
*.d
*.elf
*.hex
*.job
*.lss
*.map
*.o
*.pro
*.s#*
*.uf2
*srec
.DS_Store
.idea/
.vs
.vscode
docs/
*.kicad_sch-bak
*-backups/
*.bak
_autosave*
fp-info-cache
.~*
*.plan
/.direnv
/.emscripten_cache
.cache/
.clangd
compile_commands.json
movement_config_local.h
totp_uris.txt
