**/build/
**/build-sim/
*.b#*
*.bin
*.d
*.elf
*.hex
*.job
*.lss
*.map
*.o
*.pro
*.s#*
*.uf2
*srec
.DS_Store
.idea/
.vs
.vscode
docs/
*.kicad_sch-bak
*-backups/
*.bak
_autosave*
fp-info-cache
.~*
*.plan
/.direnv
/.emscripten_cache

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cypress
cypress/videos/
cypress/screenshots/
cypress/downloads/
