name: Build

on:
  pull_request:
  push:
    branches-ignore:
      - gh-pages

env:
  COLOR: BLUE

jobs: 
  build:
    container:
      image: ghcr.io/armmbed/mbed-os-env:latest
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Compile movement firmware
        run: make
        working-directory: '.'
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: movement.uf2
          path: build/firmware.uf2

  build-simulator:
    container:
      image: emscripten/emsdk
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Compile movement
        run: emmake make
        working-directory: '.'
      - name: Archive simulator build
        working-directory: 'movement/make/build-sim'
        run: |
          cp firmware.html index.html
          tar -czf movement.tar.gz index.html watch.wasm watch.js
      - name: Upload simulator build
        uses: actions/upload-artifact@v4
        with:
          name: movement.tar.gz
          path: build-sim/movement.tar.gz
